@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --bg: #EEEEEE;
    --text: #222831;
    --muted: #393E46;
    --accent: #3282B8;
    --muted-text: #6b7280;
}

body {
    font-family: 'Fira Code', monospace, sans-serif;
    background: var(--bg);
    color: var(--text);
    font-size: 1rem;
    line-height: 1.6;
}

/* header navigation styles */
.site-header {
    position: sticky;
    top: 0;
    left: 0;
    background: var(--bg);
    width: 100%;
    z-index: 10000;
    border-bottom: 1px solid rgb(220, 217, 217);
}

.header-container {
    max-width: 100vw;
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo a {
    font-size: 1.2rem;
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
}

.logo a:hover {
    color: var(--accent);
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition:
        max-height 0.4s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
    border-bottom: 1px solid rgb(220, 217, 217);
}

.nav-list.show {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
    font-size: 0.95rem;
}

.nav-list li a.active,
.nav-list li a:hover {
    color: var(--accent);
}

.menu-btn {
    display: block;
    background-color: none;
    border: none;
    cursor: pointer;
}

.menu-btn.active svg {
    stroke: var(--accent); 
}


/*
.menu-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-btn.active svg {
    stroke: var(--accent); 
}