/* Tablet - 768px and up  
@media (min-width: 768px) {


    .site-header .logo span {
      display: inline-block;
      margin-left: 0.6rem;
      font-size: 1.3rem;
      font-weight: 400;
      color: var(--color-red);
      -webkit-text-stroke: 0.2px #fff;
    }

    .navigation-menu {
      width: 45%;
      max-width: 360px;
    }

    .nav-links li a {
      font-size: 0.95rem;
    }

    .menu-btn img {
      width: 22px;
      height: 22px;
    }
}

/* desktop - 1024px and up 
@media (min-width: 1024px) {
    /* header 
    .logo span {
        font-size: 1.5rem;
    }

    .site-header .navigation-menu {
    position: static;
    right: auto;
    height: auto;
    width: auto;
    max-width: none;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    transition: none;
  }

  .nav-links {
    flex-direction: row;
    padding: 0;
    gap: 2rem;
  }

  .nav-links li a {
    border: none;
    font-size: 0.9rem;
  }

  .menu-btn {
    display: none;
  }

  .overlay {
    display: none;
  }
}