/* Tablet - 768px and up  */
@media (min-width: 768px) {
  /* header */
  .container {
    padding: 1.25rem 3rem;
  }

  .navigation-menu {
    width: 45%;
    max-width: 360px;
  }

  .nav-links li a {
    font-size: 1rem;
  }

  .menu-btn img {
    width: 22px;
    height: 22px;
  }

  /* main content */
  .home-section {
    padding: 5rem 3rem;
  }

  .container {
    gap: 2rem;
  }

  .hero-title {
    font-size: 1.2rem;
  }
  
  .profile-wrapper {
    height: 300px; 
  }

  .hero-shadow {
    width: 260px;
    height: 40px;
  }

  .profile-img {
    width: 180px;
  }

  /* code editor  */
  .code-editor {
    padding: 1.5rem 1.25rem;
    border-radius: 16px;
  }

  .window-controls {
    gap: 10px;
    margin-bottom: 24px;
  }

  .dot {
    width: 14px;
    height: 14px;
  }

  .code-block {
    padding: 1.25rem;
    font-size: 14px;
    line-height: 1.9;
  }

  .line-number {
    width: 36px;
  }

  .indent-1 { padding-left: 24px; }
  .indent-2 { padding-left: 48px; }
  .indent-3 { padding-left: 72px; }

  .hero-description {
    text-align: left;
  }

  .hero-description-wrapper {
    max-width: 450px;
  }

  .profile-description {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  .profile-description span:first-of-type {
    padding: 0.5rem 1.1rem;
    transform: rotate(-3deg);
  }

  .profile-description span:nth-of-type(2) {
    font-size: 1rem;
  }

  .hero-socials a {
    width: 48px;
    height: 48px;
  }

  
}

/* desktop - 1024px and up */
@media (min-width: 1024px) {
  /* header */
  .header-container {
    max-width: 1400px;
    margin: 0 auto;
  }

  .navigation-menu {
    position: static;
    right: auto;
    height: auto;
    width: auto;
    max-width: none;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    transition: none;
  }

  .nav-links {
    flex-direction: row;
    padding: 0;
    gap: 2rem;
  }

  .nav-links li a {
    border: none;
    font-size: 0.9rem;
  }

  .menu-btn {
    display: none;
  }

  .overlay {
    display: none;
  }

  /* home section */
  .home-section {
    padding: 0 0 6rem;
  }

  .home-section::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 190px;

  width: 900px;
  height: 600px;

  background: url("../images/cursemark.png") center / contain no-repeat;
  pointer-events: none;

  opacity: 0.15; 
  transform: translateY(-50%) translateX(80px) scale(0.95);

  z-index: -1;
  
  animation: heroReveal 1.2s ease-out forwards;
  animation-delay: 0.4s;
}


  .container {
    max-width: 1400px;
    margin: 0 auto;
    gap: 1rem;
    width: 100%;
  }

  .hero-intro {
    align-items: center;
  }

  .hero-intro > img:first-of-type {
    display: block;
    margin-top: 1.5rem;
  }
  
  .hero-title {
    font-size: 1.25rem;
  }

  .hero-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .profile-img {
    border-radius: 30%;
    width: 210px;
  }

  /* code editor  */
  .code-editor {
    padding: 1.5rem 1.25rem;
    border-radius: 16px;
  }

  .window-controls {
    gap: 10px;
    margin-bottom: 24px;
  }

  .dot {
    width: 14px;
    height: 14px;
  }

  .code-block {
    padding: 1.25rem;
    font-size: 14px;
    line-height: 1.9;
  }

  .line-number {
    width: 36px;
  }

  .indent-1 { padding-left: 24px; }
  .indent-2 { padding-left: 48px; }
  .indent-3 { padding-left: 72px; }

  .hero-description-wrapper {
    max-width: 1200px;
    margin-top: 3rem;
  }

  .profile-description {
    font-size: 1.5rem;
    line-height: 1;
  }

  .profile-description span:first-of-type {
    padding: 0.75rem 1.4rem;
  }
  
  .profile-description span:nth-of-type(2) {
    opacity: 0.5;
    text-align: center;
  }

  .hero-socials {
    position: absolute;
    left: 4rem;
    top: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    opacity: 0;
  }

  .hero-socials.active {
    animation: slideFade 0.6s ease forwards;
  }

  .hero-socials a {
    width: 42px;
    height: 42px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.3s ease, background 0.3s ease;
  }

  .hero-socials.active a:nth-child(1) {
    animation: iconSlide 0.5s ease forwards;
    animation-delay: 0.1s;
  }
  .hero-socials.active a:nth-child(2) {
    animation: iconSlide 0.5s ease forwards;
    animation-delay: 0.2s;
  }

  .hero-socials::before {
    content: "";
    width: 4px;
    height: 0; 
    margin-bottom: 1rem;
    background: linear-gradient(to bottom, var(--accent), transparent 50%, var(--accent));
    animation: lineGrow 0.6s ease forwards;
    animation-delay: 0.1s; 
  }
}
