/* Tablet - 768px and up  */
@media (min-width: 768px) {
  .container {
    padding: 1.25rem 3rem;
  }

  .site-header .logo img{
    display: none;
  }

  .site-header .logo span {
    display: block;
  }

  .site-header .logo span {
    display: inline-block;
    margin-left: 0.6rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--color-red);
    -webkit-text-stroke: 0.2px #fff;
  }

  .navigation-menu {
    width: 45%;
    max-width: 360px;
  }

  .nav-links li a {
    font-size: 0.95rem;
  }

  .menu-btn img {
    width: 22px;
    height: 22px;
  }

   .home-section {
    padding: 6rem 0;
  }

  .container {
    gap: 2rem;
  }

   .hero-title {
    font-size: 1.4rem;
  }

  .hero-img-wrapper {
    height: 300px;
  }

  .hero-shadow {
    width: 260px;
    height: 40px;
  }

  .profile-img {
    width: 200px;
    bottom: 40px;
  }

  .hero-description {
    padding: 0.85rem;
    line-height: 1.6;
    text-align: center;
  }

  .profile-role {
    font-size: 1rem;
    opacity: 0.7;
    
  }

  .profile-description  {
    line-height: 1.5;
    margin-bottom: 0.10rem;
    font-size: 1.8rem;
    margin-left: 0;
  }

  .profile-description span:first-of-type  {
    padding: 0.5rem 1.1rem;
    color: var(--color-red);
    font-weight: 600;
    transform: rotate(-5deg);
  }

  .profile-description :nth-of-type(2) {
    font-size: 0.9rem;
    opacity: 0.6;
  }

  .hero-socials a {
    width: 48px;
    height: 48px;
  }

  .brush {
    font-size: 1.2rem;
    min-width: 15ch;
    position: relative;
  }
}

/* desktop - 1024px and up */
@media (min-width: 1024px) {
  .logo span {
    font-size: 1.5rem;
  }

  .site-header .navigation-menu {
    position: static;
    right: auto;
    height: auto;
    width: auto;
    max-width: none;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    transition: none;
  }

  .nav-links {
    flex-direction: row;
    padding: 0;
    gap: 2rem;
  }

  .nav-links li a {
    border: none;
    font-size: 0.9rem;
  }

  .menu-btn {
    display: none;
  }

  .overlay {
    display: none;
  }
}

/* desktop - 1024px and up */
@media (min-width: 1024px) {
  .home-section {
    padding: 7rem 4rem;
  }

  .home-section::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -120px;

    width: 600px;
    height: 500px;

    background: url("../images/keyboard.png") center / contain no-repeat;
    pointer-events: none;

    opacity: 0;
    transform: translateY(-50%) translateX(80px) scale(0.95);

    animation: heroReveal 1.2s ease-out forwards;
    animation-delay: 0.4s;
  }



  .container {
    max-width: 1200px;
    width: 100%;

    gap: 2rem;
    padding: 0;
  }

  .hero-intro {
    align-items: center;
  }

  .hero-intro > img:first-of-type {
    display: block;
    margin-top: 1.5rem;
  }

  .hero-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .profile-img {
    border-radius: 30%;
    width: 210px;
  }

  .profile-role {
    text-align: left;
  }

  .hero-description {
    text-align: left;
  }

  .profile-description {
    line-height: 1.4;
  }

  .hero-socials {
    position: absolute;
    left: 4rem;
    top: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 900;
    opacity: 0;
  }

  .hero-socials.active {
    animation: slideFade 0.6s ease forwards;
  }

  .hero-socials a {
    width: 42px;
    height: 42px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.3s ease, background 0.3s ease;
  }

  .hero-socials.active a:nth-child(1) {
    animation: iconSlide 0.5s ease forwards;
    animation-delay: 0.1s;
  }
  .hero-socials.active a:nth-child(2) {
    animation: iconSlide 0.5s ease forwards;
    animation-delay: 0.2s;
  }

  .hero-socials::before {
    content: "";
    width: 4px;
    height: 0; 
    margin-bottom: 1rem;
    background: linear-gradient(to bottom, var(--color-red), transparent 50%, var(--color-red));
    animation: lineGrow 0.6s ease forwards;
    animation-delay: 0.1s; 
  }

  .brush-words {
    gap: 3rem;
  }

  .brush {
    font-size: 1.2rem;
  }

  .brush::before {
    content: "";
    position: absolute;
    inset: -20% -20%;

    background: url("../icons/brush.svg") center no-repeat;
    background-size: 100% 100%;

    z-index: -1;
  }
}
