@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

:root {
  --text: #ffffff;
  --base: #141414;
  --accent: #AD262D;
  --primary: #0b0b0b;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Preahvihear', monospace, sans-serif;
    background: var(--primary);
    color: var(--text);
    line-height: 1.6;
    font-size: 1rem;
    height: 10000px;
}

/* header */
header {
    position: sticky;
    top: 0;
    background: var(--base);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.266);
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 1rem;
}

.logo {
    width: 48px;
    margin-top: 0.55rem;

}

.navigation-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    max-width: 300px;
    height: 100vh;
    background-color: var(--base);
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    border-top-left-radius: 10px;
}

.navigation-menu.active {
    right: 0;
}

.nav-links {
    list-style: none;
    padding: 5rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nav-links li a {
    color: var(--text);
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 500;
    display: block;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
    border-bottom: 1px solid var(--accent);
}

.nav-links li a:hover,
.nav-links li a.active {
    color: var(--accent);
}

.menu-btn {
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1000;
    border-radius: 50%;
    transition: transform 0.15s ease;
}

.menu-btn:active {
  transform: scale(0.92);
}

.menu-btn img {
    width: 18px;
    height: 18px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* main content - home section */
.home-section {
    min-height: 100vh;
    padding: 3rem 2rem;

}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-intro {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.hero-intro .hero-arrow {
    display: none;
}

.hero-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-title .highlight {
    color: var(--accent);
}

/* hero profile */
.hero-profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-wrapper {
    position: relative;
    width: 100%;
    height: 230px; 
}

.hero-shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 25px;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%);
    border-radius: 50%;
    opacity: 0.9;
}

.profile-img {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    border-radius: 50%; 
}

/* code editor  */
.code-editor {
    background: var(--base);
    border-radius: 12px;
    padding: 1rem 0.65rem;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    font-family: 'Courier New', Courier, monospace;
}

.window-controls {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.dot.red { background: #ff5f56; }
.dot.yellow { background: #ffbd2e; }
.dot.green { background: #27c93f; }

.code-block {
    background: #2d2d2d;
    padding: 1rem;
    border-radius: 8px;
    font-size: 10px;
    line-height: 1.8;
    overflow-x: auto;
}

.line-number {
    color: #858585;
    display: inline-block;
    width: 30px;
    user-select: none;
}

.keyword { color: #c586c0; }
.variable { color: #9cdcfe; }
.string { color: #ce9178; }
.property { color: #dcdcaa; }
.boolean { color: #569cd6; }
.number { color: #b5cea8; }
.function { color: #dcdcaa; }
.operator { color: #d4d4d4; }
.comment { color: #6a9955; }

.code-line {
    display: block;
    white-space: pre;
}

.indent-1 { padding-left: 20px; }
.indent-2 { padding-left: 40px; }
.indent-3 { padding-left: 60px; }

.hero-description {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 0.75rem;
    gap: 0.75rem;
}

.hero-description-wrapper {
    max-width: 420px;
}

.profile-description {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 500;
}

.profile-description span:first-of-type {
    display: inline-block;
    border: 2px solid var(--accent);
    border-radius: 50% 45% 50% 45%;
    padding: 0.5rem 1rem;
    color: var(--accent);
    font-weight: 600;
    transform: rotate(-5deg);
}

.profile-description span:nth-of-type(2) {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    opacity: 0.5;
}

.hero-socials {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.hero-socials a {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.hero-socials a:hover {
    transform: translateY(-4px);
    background: rgba(173, 38, 45, 0.2);
}